*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(11, 0, 29);
    overflow-x: hidden;
}

.background-svg{
    background-size: 100vw;
    position: fixed;
    width: 100vw;
    height: 100vh;
    filter: blur(1px) opacity(0.1);
    z-index: -1;
}